<!-- <h1>Books#index</h1>
<p>Find me in app/views/books/index.html.erb</p>
 -->
 <% if flash[:notice] %>
  <p><%= flash[:notice] %></p>
 <% end %>
<h1>Books</h1>

<table>
	<thead>
		<tr>
			<th>Title</th>
			<th>Body</th>
		</tr>
	</thead>

	<tbody>
	<% @books.each do |book| %>
	 <tr>
		<td><%= book.title %></td>
		<td><%= book.body %></td>
		<td><%= link_to 'Show', book_path(book.id) %>
		<%= link_to 'Edit', edit_book_path(book.id) %>
		<%= link_to 'Destroy', book_path(book.id), method: :delete, "data-confirm" => "Are you sure?" %></td>
	</tr>
	<% end %>
	</tbody>
</table>


<h2>New book</h2>
<%= form_for(@book) do |f| %>

	<% if @book2.errors.any? %>
	<div class= "error_box">
		<h2 class="error_text">
			<%= @book2.errors.count %>
			errors prohibited this book from being saved:
	    </h2>
		<ul>
			<% @book2.errors.full_messages.each do |message| %>
			<li class="error_list"><%= message %>
			</li>
			<% end %>
		</ul>
	</div>
	<% end %>

	<h4>Title</h4>
	<%= f.text_field :title %>

	<h4>Body</h4>
	<%= f.text_area :body %>

	<div>
	<%= f.submit 'Create book' %>
	</div>
<% end %>